---
import Layout from "../layouts/Layout.astro";

---

<Layout title="ETGraph Admin Portal" headerTitle="ETGraph Admin Portal">
  <main class="flex-1 flex flex-col px-4 sm:px-6 lg:px-16 bg-gray-50">
    <div class="flex-1 mx-auto max-w-4xl py-8 lg:py-16">
      <div
        class="mx-auto max-w-4xl mt-8"
      >
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid cupiditate numquam unde reprehenderit deserunt, impedit, veritatis eius officiis, sequi doloribus. Quasi ipsam adipisci quis explicabo culpa quam illum necessitatibus!
        </p>
      </div>
    </div>
  </main>
</Layout>
