---
import Layout from "./Layout.astro";

const links = {
  getStarted: import.meta.env.PUBLIC_GITHUB_URL,
  learnMore: import.meta.env.PUBLIC_GITHUB_URL,
};

export interface Props {
  frontmatter: {
    title?: string;
    showButtons?: boolean;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter?.title || "ETGraph"}>
  <!-- Jumbotron -->
  <section class="bg-gradient-to-b from-gray-200 to-gray-400 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        {frontmatter?.title || "ETGraph"}
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        The largest dataset that combines on-chain Ethereum transaction records
        with off-chain data from Twitter
      </p>
      {
        (() => {
          if (frontmatter?.showButtons) {
            return (
              <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a
                  href={links.getStarted}
                  class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                >
                  Get started
                  <svg
                    class="w-3.5 h-3.5 ml-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
                <a
                  href={links.learnMore}
                  class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
                >
                  Learn more
                </a>
              </div>
            );
          }
        })()
      }
    </div>
  </section>
  <main class="flex-1 flex flex-col px-4 sm:px-6 lg:px-16 bg-gray-50">
    <div
      class="flex-1 mx-auto max-w-4xl py-8 lg:py-16 prose prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg"
    >
      <slot />
    </div>
  </main>
</Layout>
